include README.md
include Dockerfile
include apikey_permissions.txt
include entrypoint.sh
recursive-include palo_alto_demo/util *
include palo_alto_demo/LICENSE
include doc/*.md
include doc/screenshots/*
include icons/*.png
recursive-include payload_samples/*/ *.json
include tox.ini
recursive-include tests/ *

global-exclude *.bak